</div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="<?php echo base_url('public/admin/js/jquery.js')?>"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="<?php echo base_url('public/admin/js/bootstrap.min.js')?>"></script>

    <!-- Morris Charts JavaScript -->
    <script src="<?php echo base_url('public/admin/js/plugins/morris/raphael.min.js')?>"></script>
    <script src="<?php echo base_url('public/admin/js/plugins/morris/morris.min.js')?>"></script>
    <script src="<?php echo base_url('public/admin/js/plugins/morris/morris-data.js')?>"></script>
    <script>
        function detail_hotel(param) 
        {
            $('div#modal-id').modal('show');
        }
        function setMapToForm(latitude, longitude) 
        {
            $('input[name="latitude"]').val(latitude);
            $('input[name="longitude"]').val(longitude);
        }
        $(document).ready(function() {
            var base_url = '<?php echo base_url() ?>';
            $("#sidebar-sticker").sticky({topSpacing:70});
            <?php if($this->session->flashdata('message')) : ?>
            $('div#modal-alert').modal('show');
            <?php endif; ?>

            $('a.delete-hotel').on('click', function() 
            {
                var ID = $(this).data('id');

                $('#modal-delete').modal('show');
                $('a#btn-yes').attr('href', base_url + 'admin/deletehotel/' + ID);
            });
        });
    </script>

</body>

</html>